html *{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
  
}

.section{
    background-image: url("./img/Section.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 50vh;
    justify-content: center;
}
.section h3{
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    padding-left: 8vw;
    
}
.section h1{
   align-self: center;
   color: orangered;
   font-weight: bolder;
   font-family: fantasy;
   font-size: 10vh;
   padding-top: 3vh;
}
.carousel {
    width: 60vw;
    margin: auto;
}

footer{
    height: 10vh;
    background-color: rgb(0, 0, 0,0.8);
    color:white;
    font-weight: bolder;
   margin-top: 2vh;
}
footer h5{
    padding-top: 30px;
    text-align: center;
}

.container{
    height: 13vh;
 
}
.contenidoTitulo{
    width:30vw;
    height: 47vh;
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

.contenedorFotos{
    background-color: lightblue;
    height: 97vh;
   display: flex;
   flex-wrap: wrap;
   width: 60vw;
    
}
.contenidoTitulo p{
    margin-left: -15vw;
    color: white;
    font-weight: bolder;
    background-color: rgb(0, 128, 0,0.5);
    font-size: 3vh;
    width: 60vw;
    text-align: center;
}

.contenidoTitulo img{
    width: 30vw;
    min-height: 300px;
}

.app{
    background-color: rgb(0, 0, 255,0.5);
}

.header{
    height: 15vh;
    background-color:rgb(0, 0, 0,0.8);
    width: 98.7vw;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.nav button{
    border: none;
    background-color: rgb(255, 69, 0, 0.7);
    margin-left: 2vw;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 3vh;
   
}
.header img {
    margin-left: 10vw;
}

.nav{
    margin-right: 10vw;
}

.nav button:hover{
    background-color: rgb(128, 128, 128, 0.3);
}
.click{
    background-image: url('./img/avioncentrado.jpg');
    background-size: cover;
    width:98.7vw;
    background-position: top;
    height: 70vh;
    text-align: center;
    background-repeat: no-repeat;
}
.flecha{
    margin-top: 4vh;
}

.cityImg{
    height: 45vh;
    width: 60vw;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.cities{
    margin-top: 3vh;
}
.cityImg p{

  color: white;
  font-size: 4vh;
  font-weight: bolder;
 text-align: center;
 padding-top: 2vh;
 font-family: fantasy;
 text-shadow: 2px 2px 2px violet;
 background-color:  rgb(238, 130, 238,0.5);
}

.title h1{
    color: orangered;
   font-weight: bolder;
   font-family: fantasy;
   font-size: 8vh;
   padding-top: 3vh;
   text-align: center;
}
.title{
    background-color: white;
}

.city input{
    width: 40vw;
    border: none;
    padding: 1vh;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 3vh;
    border-radius: 20px;
    margin-left: 30vw;
}
/*itineraries*/

.Itineraries h2{
    background-color:rgb(238, 130, 238, 0.5) ;
    text-align: center;
    padding: 5vh;
}

.Itineraries h3{
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 2px orangered;
    padding-left: 2vw;
    margin: 3vh 0px;
}
.itinerariesId{
    height: 70vh;
}
.Itineraries p{
    color: white;
  font-size: 4vh;
  font-weight: bolder;
 text-align: center;
 padding-top: 2vh;
 font-family: fantasy;
 text-shadow: 2px 2px 2px violet;
 background-color:  rgb(238, 130, 238,0.5);
}
.contenedorItinerario{
    background-color: white;
    width: 50vw;
    margin: auto;
    border-bottom: 20px solid  rgb(0, 0, 255,0.5) ;
    font-family: fantasy;
}
.itinerario{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: auto;
}
.itinerarieUsuario img{
    width: 10vw;
    border-radius: 5vw;
    border: 1px solid rgba(134, 66, 66, 0.3);
    margin: 2vh 2vw;
}
.itinerarieUsuario h6{
    color: blueviolet;
    padding-left: 3vw;
}
.itinerarioInfo h6{
    color: orangered;
    font-size: 3vh;
    margin: 3vh 0px;
}
.itinerarioFlex{
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
}
.contenedorItinerario button{
    text-align: center;
    border:none;
    width: 50vw;
    padding: 1vh;
    color: blueviolet;
    font-weight: bolder;
} 
.itinerarioInfo h1{
    font-size: 4vh;
    color:blueviolet;
    min-width: 400px;
    font-family: fantasy;
    padding:5px;
}
.itinerarioInfo .hashtag{
    color: blueviolet ;
    font-size: 2.5vh;
}
.containerActivities{
    display: flex;
    flex-direction: row;
    background-color: white;
   
}

.containerImg img{
    width: 15vw;
    min-height: 200px;
}
.containerImg{
    margin: 1vh 0.5vw;
}

.containerImg p{
    color: black;
    font-size: 3vh;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 3, 83, 0.5);
    width: 50vw;
    margin: auto;
    padding: 3vh 3vw;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
}
.contenedorInput input {
   outline: none;
   border:none;
   border: 1px solid rgb(128, 128, 128, 0.5);
   margin-bottom: 0.8vh;
   border-radius: 5px;
   text-align: center;
   color: rgb(128, 128, 128, 0.5);
}

.contenedorInput{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin: auto;
   padding: 1vh 2vw;
}
.contenedorSeparador{
    height: 2vh;
}
.ContendorInputSeparador{
    height: 13vh;
}
form h1{
    color: white;
    font-weight: bolder;
    text-align: center;
    padding:3vh 0px;
}
.contenedorInput button{
    text-align: center;
    border-radius: 10px;
    width: 30vw;
    border: none;
    padding: 1vh 2vw;
    color: white;
    font-weight: bolder;
    background-color:  rgb(3, 3, 83, 0.5);
}
.contenedorInput label{
    color: white;
    font-weight: bolder;

}
.errores{
    color: rgb(187, 15, 15);
    font-family: cursive;
    text-decoration: 1px 1px 1px white;
}
.contenedorInput select {
  width: 14.5vw;
  border-radius: 10px;
}